@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great", cursive;
  display: inline-block;
}

h2 {
  text-align: center;
  display: block;
}

h3 {
  opacity: 0.4;
}

span {
  opacity: 0.2;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 16px;
  margin-bottom: 16px;
}

section {
  opacity: 0.8;
  margin-left: 64px;
  margin-right: 64px;
}

section > *:not(:last-child) {
  margin-bottom: 16px;
}

a {
  color: white;
  opacity: 0.3;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

p {
  text-align: justify;
}

img {
  width: 100%;
}
